--
-- PostgreSQL database dump
--

\restrict yeTdnQeDd3clsQTGXQ4VdLvoe7Cc4cVaKLFdSEvyhfKzTqjgbcnjbcMxWRRuFiF

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: exercise_muscle; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.exercise_muscle (
    exercise_id integer,
    muscle_id integer
);


ALTER TABLE public.exercise_muscle OWNER TO postgres;

--
-- Name: exercises; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.exercises (
    id integer NOT NULL,
    name character varying(30) NOT NULL,
    description character varying(100),
    difficulty character varying(20),
    equipment_name character varying(20)
);


ALTER TABLE public.exercises OWNER TO postgres;

--
-- Name: muscle; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.muscle (
    id integer NOT NULL,
    name character varying(30) NOT NULL,
    muscle_group character varying(20)
);


ALTER TABLE public.muscle OWNER TO postgres;

--
-- Name: nutrition; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.nutrition (
    id integer NOT NULL,
    food_item character varying(50),
    category character varying(100),
    calories numeric(6,2),
    protein numeric(6,2),
    carbohydrates numeric(6,2),
    fat numeric(6,2),
    fiber numeric(6,2),
    sugars numeric(6,2),
    sodium numeric(6,2)
);


ALTER TABLE public.nutrition OWNER TO postgres;

--
-- Name: nutrition_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.nutrition ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.nutrition_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_id_seq OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer DEFAULT nextval('public.user_id_seq'::regclass) NOT NULL,
    username character varying(30) NOT NULL,
    password character varying(30) NOT NULL,
    dob date
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: workout; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.workout (
    id integer NOT NULL,
    userid integer,
    workout_date date,
    notes character varying(30),
    workout_type character varying(30)
);


ALTER TABLE public.workout OWNER TO postgres;

--
-- Name: workout_entries; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.workout_entries (
    id integer NOT NULL,
    workout_id integer,
    exercise_id integer,
    sets integer,
    reps integer,
    weight numeric(5,2),
    notes character varying(30)
);


ALTER TABLE public.workout_entries OWNER TO postgres;

--
-- Name: workout_entries_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.workout_entries ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.workout_entries_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: workout_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.workout ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.workout_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: exercise_muscle; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.exercise_muscle (exercise_id, muscle_id) FROM stdin;
1	3
2	10
3	1
4	3
5	10
6	1
7	1
8	10
9	1
10	2
11	2
12	2
13	2
14	2
15	5
16	10
17	4
18	4
19	4
20	4
21	4
22	1
23	5
24	5
25	10
26	5
27	6
28	3
29	5
30	7
31	4
32	10
33	10
34	10
35	10
36	10
37	3
38	10
39	10
40	2
41	10
42	10
43	10
44	10
45	10
46	10
47	4
48	5
49	10
50	2
51	4
52	4
\.


--
-- Data for Name: exercises; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: muscle; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.muscle (id, name, muscle_group) FROM stdin;
1	Chest	Upper Body
2	Back	Upper Body
3	Shoulders	Upper Body
4	Biceps	Arms
5	Triceps	Arms
6	Quadriceps	Legs
7	Hamstrings	Legs
8	Glutes	Legs
9	Calves	Legs
10	Core	Core
11	Forearms	Arms
\.


--
-- Data for Name: nutrition; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, username, password, dob) FROM stdin;
1	Lemon2909	pass	2026-04-28
2	barman	p	2026-04-14
3	swaroop	gay	2002-10-23
\.


--
-- Data for Name: workout; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.workout (id, userid, workout_date, notes, workout_type) FROM stdin;
1	2	2026-04-16	I dont like legs	Push
2	2	2026-04-17	I dont like legs	Pull
\.


--
-- Data for Name: workout_entries; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.workout_entries (id, workout_id, exercise_id, sets, reps, weight, notes) FROM stdin;
1	1	3	-3	-4	8.00	I dont like legs
\.


--
-- Name: nutrition_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.nutrition_id_seq', 2484, true);


--
-- Name: user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_id_seq', 3, true);


--
-- Name: workout_entries_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.workout_entries_id_seq', 1, true);


--
-- Name: workout_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.workout_id_seq', 2, true);


--
-- Name: exercises exercises_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercises
    ADD CONSTRAINT exercises_pkey PRIMARY KEY (id);


--
-- Name: muscle muscle_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.muscle
    ADD CONSTRAINT muscle_pkey PRIMARY KEY (id);


--
-- Name: nutrition nutrition_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nutrition
    ADD CONSTRAINT nutrition_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: workout_entries workout_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workout_entries
    ADD CONSTRAINT workout_entries_pkey PRIMARY KEY (id);


--
-- Name: workout workout_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workout
    ADD CONSTRAINT workout_pkey PRIMARY KEY (id);


--
-- Name: exercise_muscle exercise_muscle_exercise_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercise_muscle
    ADD CONSTRAINT exercise_muscle_exercise_id_fkey FOREIGN KEY (exercise_id) REFERENCES public.exercises(id);


--
-- Name: exercise_muscle exercise_muscle_muscle_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercise_muscle
    ADD CONSTRAINT exercise_muscle_muscle_id_fkey FOREIGN KEY (muscle_id) REFERENCES public.muscle(id);


--
-- Name: workout_entries workout_entries_exercise_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workout_entries
    ADD CONSTRAINT workout_entries_exercise_id_fkey FOREIGN KEY (exercise_id) REFERENCES public.exercises(id) ON DELETE CASCADE;


--
-- Name: workout_entries workout_entries_workout_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workout_entries
    ADD CONSTRAINT workout_entries_workout_id_fkey FOREIGN KEY (workout_id) REFERENCES public.workout(id) ON DELETE CASCADE;


--
-- Name: workout workout_userid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workout
    ADD CONSTRAINT workout_userid_fkey FOREIGN KEY (userid) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict yeTdnQeDd3clsQTGXQ4VdLvoe7Cc4cVaKLFdSEvyhfKzTqjgbcnjbcMxWRRuFiF

